
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Sofia+Sans&display=swap");

.quote-box {
    /*  border: 2px solid blue; */
      color: white;
      font-size: 6.5em;
      font-family: 'Noto Sans JP', sans-serif;
      font-family: 'Sofia Sans', sans-serif;
      padding-left: 5%;
      padding-right: 5%;

  }

  .quote-box:hover{
    cursor: pointer;
  }

  .text-area {
    padding-top: 10%;
    background-color: black;
    height: 100%;
    width: 100%;
    
  }

  .signature {
      color: white;
      font-size: 5.5em;
      font-family: 'Noto Sans JP', sans-serif;
      font-family: 'Sofia Sans', sans-serif;
      text-align: right;
      margin-right: 2%;
      cursor: default;
  }


@media only screen and (max-width: 600px){
  .text-area {
    background-color: black;
    height: 100%;
    width: 100%;
  }

  .quote-box {
    /*  border: 2px solid blue; */
      color: white;
      font-size: 4em;
      font-family: 'Noto Sans JP', sans-serif;
      font-family: 'Sofia Sans', sans-serif;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 20%;
  }
  .signature {
    color: white;
      font-size: 3rem;
      font-family: 'Noto Sans JP', sans-serif;
      font-family: 'Sofia Sans', sans-serif;
      text-align: right;
      margin-right: 8%;
      cursor: default;
  }
}

